/****** Script for SelectTopNRows command from SSMS  ******/

/*Create Cash History 1 Table*/
IF OBJECT_ID('tempdb.dbo.#CH_1','U') IS NOT NULL
DROP TABLE #CH_1;
GO






SELECT [Pt_No]
      ,[Unit_No]
	  , 1.0 as 'Count'
      ,[PA_Ctl_PAA_Xfer_Date]
      ,[MRN]
      ,[Pt_Name]
      ,[Admit_Date]
      ,[Dsch_Date]
      ,[Unit_Date]
      ,[Acct_Type]
      ,[Age_Bucket]
      ,[First_Ins_Bl_Date]
	  ,[SSI_Last_Ins_Bill_Date]
      ,[Days_To_First_Paid]
	  ,CASE
	  WHEN [Tot_Pay_Amt] <> '0' AND [Tot_Chgs] >'0' THEN (([Tot_Pay_Amt] / [Tot_Chgs]) * -1 )
	  ELSE '0'
	  END as 'Percent_Paid'
	  ,CASE
	  WHEN [Tot_Pay_Amt] <> '0' AND [Tot_Chgs] >'0' THEN ((ISNULL([Pyr1_Pay_Amt],0) / [Tot_Chgs]) * -1 )
	  ELSE '0'
	  END as 'Percent_Paid_Ins1'

      ,[Balance]
      ,[COB1_Balance]
      ,[Pt_Balance]
      ,[Tot_Chgs]
      ,[Ins_Pay_Amt]
      ,[Tot_Pay_Amt]
	  ,ISNULL([Tot_Pay_Amt],0) - ISNULL([Ins_Pay_Amt],0) as 'Pt_Pay_Amt'
      ,[File]
      ,[FC]
      ,[FC_Description]
      ,[Hosp_Svc]
      ,[Hosp_Svc_Description]
      ,[COB_1]
      ,[Ins1_Cd]
      ,[Ins1_Member_ID]
      ,[Ins1_Pol_No]
      ,[Ins1_Subscr_Group_ID]
      ,[Ins1_Grp_No]
      ,[Ins1_Balance]
      ,[Pyr1_Pay_Amt]
      ,[Ins1_First_Paid]
      ,[COB_2]
      ,[Ins2_Cd]
      ,[Ins2_Member_ID]
      ,[Ins2_Pol_No]
      ,[Ins2_Subscr_Group_ID]
      ,[Ins2_Grp_No]
      ,[Ins2_Balance]
      ,[Pyr2_Pay_Amt]
      ,[Ins2_First_Paid]
      ,[COB_3]
      ,[Ins3_Cd]
      ,[Ins3_Member_ID]
      ,[Ins3_Pol_No]
      ,[Ins3_Subscr_Group_ID]
      ,[Ins3_Grp_No]
      ,[Ins3_Balance]
      ,[Pyr3_Pay_Amt]
      ,[Ins3_First_Paid]
      ,[COB_4]
      ,[Ins4_Cd]
      ,[Ins4_Member_ID]
      ,[Ins4_Pol_No]
      ,[Ins4_Subscr_Group_ID]
      ,[Ins4_Grp_No]
      ,[Ins4_Balance]
      ,[Pyr4_Pay_Amt]
      ,[Ins4_First_Paid]
      ,[Pt_Representative]

--INTO dbo.#CH_1


  FROM [SMS].[dbo].[Pt_Accounting_Reporting_ALT]
  
  
 WHERE ([first_ins_Bl_date] BETWEEN '2019-01-01 00:00:00.000' AND '2019-10-31 23:59:59.000'
  AND [Tot_Chgs] > '0'
  AND [pyr1_pay_Amt] IS NOT NULL)


-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/****** Script for SelectTopNRows command from SSMS  ******/

/*Create ERS_Denials Table*/
IF OBJECT_ID('tempdb.dbo.#ERS_Denials','U') IS NOT NULL
DROP TABLE #ERS_Denials;

GO

CREATE TABLE dbo.[#ERS_Denials]
(
[PA-PT-NO-WOSCD] VARCHAR(12) NOT NULL,
[PA-PT-NO-SCD-1] VARCHAR(1) NOT NULL,
[PT_NO] VARCHAR(13) NOT NULL,
[PA-CTL-PAA-XFER-DATE] DATETIME NULL,
[UNIT_DATE] DATETIME NULL,
[DENIAL_IND] CHAR(1) NULL
)
;

INSERT INTO dbo.[#ERS_Denials]



  SELECT A.[PA-PT-NO-WOSCD],
  A.[PA-PT-NO-SCD-1],
  CAST(A.[PA-PT-NO-WOSCD] AS VARCHAR) + CAST(A.[PA-PT-NO-SCD-1] AS VARCHAR) AS 'PT_NO',
  a.[pa-ctl-paa-xfer-date],
  [PA-DTL-UNIT-DATE] AS 'UNIT_DATE',
  'Y' as 'DENIAL_IND'

  FROM [ECHOLOADERDBP.UHMC.SBUH.STONYBROOK.EDU].[Echo_Active].dbo.[DetailInformation] A LEFT OUTER JOIN [ECHOLOADERDBP.UHMC.SBUH.STONYBROOK.EDU].[Echo_Active].dbo.[PatientDemographics] B
  ON a.[pa-pt-no-woscd] =b.[pa-pt-no-woscd] and a.[pa-ctl-paa-xfer-date]=b.[pa-ctl-paa-xfer-date] 

  WHERE (a.[pa-dtl-svc-cd-woscd] IN ('80003', '80004', '80012', '80013', '80017', '80018', '80020', '80022', '80024', '80028', '80031', '80046', '80047', '80050', '80057', '80060', '80063', '80067', '80068', '80070', 
  '80072', '80077', '80078', '80092', '80096', '80099', '80107', '80112', '80120', '80140', '81003', '81005', '82001', '82002', '82003', '82006', '82007', '82008', '82009', '82010', '82011', '82012', '82013',
  '82014', '82015', '82016', '82017', '82018', '82019', '82020', '82021', '82022', '82023', '82024', '82025', '82026', '82027', '82028', '82029', '82030', '82031', '82032', '82033', '82333', '83001', '83002', '83003',
  '83004', '83005', '85000', '85002', '85003', '85005', '86000', '86001', '86002', '86003', '86004', '86005', '86006', '86007', '86008', '86009', '86010', '86011', '86012', '86013')
  AND b.[pa-unit-sts] = 'U')

  GROUP BY A.[PA-PT-NO-WOSCD] , A.[PA-PT-NO-SCD-1], A.[PA-CTL-PAA-XFER-DATE], A.[PA-DTL-UNIT-DATE]


 UNION

  SELECT A.[PA-PT-NO-WOSCD],
  A.[PA-PT-NO-SCD-1],
  CAST(A.[PA-PT-NO-WOSCD] AS VARCHAR) + CAST(A.[PA-PT-NO-SCD-1] AS VARCHAR) AS 'PT_NO',
  a.[pa-ctl-paa-xfer-date],
  [PA-DTL-UNIT-DATE] AS 'UNIT_DATE',
  'Y' as 'DENIAL_IND'

  FROM [ECHOLOADERDBP.UHMC.SBUH.STONYBROOK.EDU].[Echo_ARCHIVE].dbo.[DetailInformation] A LEFT OUTER JOIN [ECHOLOADERDBP.UHMC.SBUH.STONYBROOK.EDU].[Echo_ARCHIVE].dbo.[PatientDemographics] B
  ON a.[pa-pt-no-woscd] =b.[pa-pt-no-woscd] and a.[pa-ctl-paa-xfer-date]=b.[pa-ctl-paa-xfer-date] 

  WHERE ([pa-dtl-svc-cd-woscd] IN ('80003', '80004', '80012', '80013', '80017', '80018', '80020', '80022', '80024', '80028', '80031', '80046', '80047', '80050', '80057', '80060', '80063', '80067', '80068', '80070', 
  '80072', '80077', '80078', '80092', '80096', '80099', '80107', '80112', '80120', '80140', '81003', '81005', '82001', '82002', '82003', '82006', '82007', '82008', '82009', '82010', '82011', '82012', '82013',
  '82014', '82015', '82016', '82017', '82018', '82019', '82020', '82021', '82022', '82023', '82024', '82025', '82026', '82027', '82028', '82029', '82030', '82031', '82032', '82033', '82333', '83001', '83002', '83003',
  '83004', '83005', '85000', '85002', '85003', '85005', '86000', '86001', '86002', '86003', '86004', '86005', '86006', '86007', '86008', '86009', '86010', '86011', '86012', '86013')
  AND b.[pa-unit-sts] = 'U')

  GROUP BY A.[PA-PT-NO-WOSCD] , A.[PA-PT-NO-SCD-1], A.[PA-CTL-PAA-XFER-DATE], A.[PA-DTL-UNIT-DATE]
  
  UNION

   SELECT A.[PA-PT-NO-WOSCD],
  A.[PA-PT-NO-SCD-1],
  CAST(A.[PA-PT-NO-WOSCD] AS VARCHAR) + CAST(A.[PA-PT-NO-SCD-1] AS VARCHAR) AS 'PT_NO',
  a.[pa-ctl-paa-xfer-date],
  NULL as 'UNIT_DATE',
  'Y' as 'DENIAL_IND'

  FROM [ECHOLOADERDBP.UHMC.SBUH.STONYBROOK.EDU].[Echo_Active].dbo.[DetailInformation] A LEFT OUTER JOIN [ECHOLOADERDBP.UHMC.SBUH.STONYBROOK.EDU].[Echo_Active].dbo.[PatientDemographics] B
  ON a.[pa-pt-no-woscd] =b.[pa-pt-no-woscd] and a.[pa-ctl-paa-xfer-date]=b.[pa-ctl-paa-xfer-date] 

  WHERE (a.[pa-dtl-svc-cd-woscd] IN ('80003', '80004', '80012', '80013', '80017', '80018', '80020', '80022', '80024', '80028', '80031', '80046', '80047', '80050', '80057', '80060', '80063', '80067', '80068', '80070', 
  '80072', '80077', '80078', '80092', '80096', '80099', '80107', '80112', '80120', '80140', '81003', '81005', '82001', '82002', '82003', '82006', '82007', '82008', '82009', '82010', '82011', '82012', '82013',
  '82014', '82015', '82016', '82017', '82018', '82019', '82020', '82021', '82022', '82023', '82024', '82025', '82026', '82027', '82028', '82029', '82030', '82031', '82032', '82033', '82333', '83001', '83002', '83003',
  '83004', '83005', '85000', '85002', '85003', '85005', '86000', '86001', '86002', '86003', '86004', '86005', '86006', '86007', '86008', '86009', '86010', '86011', '86012', '86013')
  AND b.[pa-unit-sts] <> 'U')

  GROUP BY A.[PA-PT-NO-WOSCD] , A.[PA-PT-NO-SCD-1], A.[PA-CTL-PAA-XFER-DATE]
  
  UNION

   SELECT A.[PA-PT-NO-WOSCD],
  A.[PA-PT-NO-SCD-1],
  CAST(A.[PA-PT-NO-WOSCD] AS VARCHAR) + CAST(A.[PA-PT-NO-SCD-1] AS VARCHAR) AS 'PT_NO',
  a.[pa-ctl-paa-xfer-date],
  NULL as 'UNIT_DATE',
  'Y' as 'DENIAL_IND'

  FROM [ECHOLOADERDBP.UHMC.SBUH.STONYBROOK.EDU].[Echo_Archive].dbo.[DetailInformation] A LEFT OUTER JOIN [ECHOLOADERDBP.UHMC.SBUH.STONYBROOK.EDU].[Echo_Archive].dbo.[PatientDemographics] B
  ON a.[pa-pt-no-woscd] =b.[pa-pt-no-woscd] and a.[pa-ctl-paa-xfer-date]=b.[pa-ctl-paa-xfer-date] 

  WHERE (a.[pa-dtl-svc-cd-woscd] IN ('80003', '80004', '80012', '80013', '80017', '80018', '80020', '80022', '80024', '80028', '80031', '80046', '80047', '80050', '80057', '80060', '80063', '80067', '80068', '80070', 
  '80072', '80077', '80078', '80092', '80096', '80099', '80107', '80112', '80120', '80140', '81003', '81005', '82001', '82002', '82003', '82006', '82007', '82008', '82009', '82010', '82011', '82012', '82013',
  '82014', '82015', '82016', '82017', '82018', '82019', '82020', '82021', '82022', '82023', '82024', '82025', '82026', '82027', '82028', '82029', '82030', '82031', '82032', '82033', '82333', '83001', '83002', '83003',
  '83004', '83005', '85000', '85002', '85003', '85005', '86000', '86001', '86002', '86003', '86004', '86005', '86006', '86007', '86008', '86009', '86010', '86011', '86012', '86013')
  AND b.[pa-unit-sts] <> 'U')

  GROUP BY A.[PA-PT-NO-WOSCD] , A.[PA-PT-NO-SCD-1], A.[PA-CTL-PAA-XFER-DATE]



  select *
  FROM dbo.[#ERS_Denials]



-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

/****** Script for SelectTopNRows command from SSMS  ******/

/*Create Cash History 2 Table-At Risk Soft Denied Accts*/
IF OBJECT_ID('tempdb.dbo.#CH_2','U') IS NOT NULL
DROP TABLE #CH_2;
GO






SELECT a.[Pt_No]
      ,a.[Unit_No]
	  , 1.0 as 'Count'
      ,[PA_Ctl_PAA_Xfer_Date]
      ,[MRN]
      ,[Pt_Name]
      ,[Admit_Date]
      ,[Dsch_Date]
      ,[Unit_Date]
      ,[Acct_Type]
      ,[Age_Bucket]
      ,[First_Ins_Bl_Date]
	  ,[SSI_Last_Ins_Bill_Date]
      ,[Days_To_First_Paid]
	  ,CASE
	  WHEN [Tot_Pay_Amt] <> '0' AND [Tot_Chgs] >'0' THEN (([Tot_Pay_Amt] / [Tot_Chgs]) * -1 )
	  ELSE '0'
	  END as 'Percent_Paid'
	  ,CASE
	  WHEN [Tot_Pay_Amt] <> '0' AND [Tot_Chgs] >'0' THEN ((ISNULL([Pyr1_Pay_Amt],0) / [Tot_Chgs]) * -1 )
	  ELSE '0'
	  END as 'Percent_Paid_Ins1'

      ,[Balance]
      ,[COB1_Balance]
      ,[Pt_Balance]
      ,[Tot_Chgs]
      ,[Ins_Pay_Amt]
      ,[Tot_Pay_Amt]
	  ,ISNULL([Tot_Pay_Amt],0) - ISNULL([Ins_Pay_Amt],0) as 'Pt_Pay_Amt'
      ,[File]
      ,[FC]
      ,[FC_Description]
      ,[Hosp_Svc]
      ,[Hosp_Svc_Description]
      ,[COB_1]
      ,[Ins1_Cd]
      ,[Ins1_Member_ID]
      ,[Ins1_Pol_No]
      ,[Ins1_Subscr_Group_ID]
      ,[Ins1_Grp_No]
      ,[Ins1_Balance]
      ,[Pyr1_Pay_Amt]
      ,[Ins1_First_Paid]
      ,[COB_2]
      ,[Ins2_Cd]
      ,[Ins2_Member_ID]
      ,[Ins2_Pol_No]
      ,[Ins2_Subscr_Group_ID]
      ,[Ins2_Grp_No]
      ,[Ins2_Balance]
      ,[Pyr2_Pay_Amt]
      ,[Ins2_First_Paid]
      ,[COB_3]
      ,[Ins3_Cd]
      ,[Ins3_Member_ID]
      ,[Ins3_Pol_No]
      ,[Ins3_Subscr_Group_ID]
      ,[Ins3_Grp_No]
      ,[Ins3_Balance]
      ,[Pyr3_Pay_Amt]
      ,[Ins3_First_Paid]
      ,[COB_4]
      ,[Ins4_Cd]
      ,[Ins4_Member_ID]
      ,[Ins4_Pol_No]
      ,[Ins4_Subscr_Group_ID]
      ,[Ins4_Grp_No]
      ,[Ins4_Balance]
      ,[Pyr4_Pay_Amt]
      ,[Ins4_First_Paid]
      ,[Pt_Representative]
	  ,b.[denial_ind]

INTO dbo.#CH_2


  FROM [SMS].[dbo].[Pt_Accounting_Reporting_ALT] a left outer join [#ERS_Denials] b
  ON a.[pt_no] = b.[Pt_No] and a.[pa_ctl_paa_xfer_date] = b.[pa-ctl-paa-xfer-date] and a.[unit_Date] = b.[unit_Date]
  
  
 WHERE ([first_ins_Bl_date] BETWEEN '2019-01-01 00:00:00.000' AND '2019-10-31 23:59:59.000'
  AND [Tot_Chgs] > '0'
  AND [pyr1_pay_Amt] IS NOT NULL) 


  SELECT * FROM #CH_2




----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*Create Cash History 3 Table-At Risk Soft Denied Accts*/
IF OBJECT_ID('tempdb.dbo.#CH_3','U') IS NOT NULL
DROP TABLE #CH_3;
GO






SELECT [Pt_No]
      ,[Unit_No]
	  , 1.0 as 'Count'
      ,[PA_Ctl_PAA_Xfer_Date]
      ,[MRN]
      ,[Pt_Name]
      ,[Admit_Date]
      ,[Dsch_Date]
      ,[Unit_Date]
      ,[Acct_Type]
      ,[Age_Bucket]
      ,[First_Ins_Bl_Date]
	  ,[SSI_Last_Ins_Bill_Date]
      ,[Days_To_First_Paid]
	  ,CASE
	  WHEN [Tot_Pay_Amt] <> '0' AND [Tot_Chgs] >'0' THEN (([Tot_Pay_Amt] / [Tot_Chgs]) * -1 )
	  ELSE '0'
	  END as 'Percent_Paid'
	  ,CASE
	  WHEN [Tot_Pay_Amt] <> '0' AND [Tot_Chgs] >'0' THEN ((ISNULL([Pyr1_Pay_Amt],0) / [Tot_Chgs]) * -1 )
	  ELSE '0'
	  END as 'Percent_Paid_Ins1'

      ,[Balance]
      ,[COB1_Balance]
      ,[Pt_Balance]
      ,[Tot_Chgs]
      ,[Ins_Pay_Amt]
      ,[Tot_Pay_Amt]
	  ,ISNULL([Tot_Pay_Amt],0) - ISNULL([Ins_Pay_Amt],0) as 'Pt_Pay_Amt'
      ,[File]
      ,[FC]
      ,[FC_Description]
      ,[Hosp_Svc]
      ,[Hosp_Svc_Description]
      ,[COB_1]
      ,[Ins1_Cd]
      ,[Ins1_Member_ID]
      ,[Ins1_Pol_No]
      ,[Ins1_Subscr_Group_ID]
      ,[Ins1_Grp_No]
      ,[Ins1_Balance]
      ,[Pyr1_Pay_Amt]
      ,[Ins1_First_Paid]
      ,[COB_2]
      ,[Ins2_Cd]
      ,[Ins2_Member_ID]
      ,[Ins2_Pol_No]
      ,[Ins2_Subscr_Group_ID]
      ,[Ins2_Grp_No]
      ,[Ins2_Balance]
      ,[Pyr2_Pay_Amt]
      ,[Ins2_First_Paid]
      ,[COB_3]
      ,[Ins3_Cd]
      ,[Ins3_Member_ID]
      ,[Ins3_Pol_No]
      ,[Ins3_Subscr_Group_ID]
      ,[Ins3_Grp_No]
      ,[Ins3_Balance]
      ,[Pyr3_Pay_Amt]
      ,[Ins3_First_Paid]
      ,[COB_4]
      ,[Ins4_Cd]
      ,[Ins4_Member_ID]
      ,[Ins4_Pol_No]
      ,[Ins4_Subscr_Group_ID]
      ,[Ins4_Grp_No]
      ,[Ins4_Balance]
      ,[Pyr4_Pay_Amt]
      ,[Ins4_First_Paid]
      ,[Pt_Representative]

INTO dbo.#CH_3


  FROM [SMS].[dbo].[Pt_Accounting_Reporting_ALT]
  
  
 WHERE ([first_ins_Bl_date] BETWEEN '2019-01-01 00:00:00.000' AND '2019-10-31 23:59:59.000'
  AND [Tot_Chgs] > '0'
  AND [pyr1_pay_Amt] IS NOT NULL
  AND [unit_no] is not null 
  AND CAST([pt_no] as varchar) + CAST(datepart(mm,[unit_date]) as varchar) + CAST(datepart(dd,[unit_date]) as varchar) + CAST(datepart(yy,[unit_date]) as varchar) IN  

  (  
  SELECT  CAST([pa-pt-no-woscd] as varchar) + cast([pa-pt-no-scd-1] as varchar) + CAST(datepart(mm,[pa-dtl-unit-date]) as varchar) + CAST(datepart(dd,[pa-dtl-unit-date]) as varchar) + CAST(datepart(yy,[pa-dtl-unit-date]) as varchar)

  FROM [ECHOLOADERDBP.UHMC.SBUH.STONYBROOK.EDU].[Echo_Active].dbo.[DetailInformation]

  WHERE [pa-dtl-svc-cd-woscd] IN ('80003', '80004', '80012', '80013', '80017', '80018', '80020', '80022', '80024', '80028', '80031', '80046', '80047', '80050', '80057', '80060', '80063', '80067', '80068', '80070', 
  '80072', '80077', '80078', '80092', '80096', '80099', '80107', '80112', '80120', '80140', '81003', '81005', '82001', '82002', '82003', '82006', '82007', '82008', '82009', '82010', '82011', '82012', '82013',
  '82014', '82015', '82016', '82017', '82018', '82019', '82020', '82021', '82022', '82023', '82024', '82025', '82026', '82027', '82028', '82029', '82030', '82031', '82032', '82033', '82333', '83001', '83002', '83003',
  '83004', '83005', '85000', '85002', '85003', '85005', '86000', '86001', '86002', '86003', '86004', '86005', '86006', '86007', '86008', '86009', '86010', '86011', '86012', '86013')

  GROUP BY 
 CAST([pa-pt-no-woscd] as varchar) + cast([pa-pt-no-scd-1] as varchar) + CAST(datepart(mm,[pa-dtl-unit-date]) as varchar) + CAST(datepart(dd,[pa-dtl-unit-date]) as varchar) + CAST(datepart(yy,[pa-dtl-unit-date]) as varchar)

 UNION

 SELECT  CAST([pa-pt-no-woscd] as varchar) + cast([pa-pt-no-scd-1] as varchar) + CAST(datepart(mm,[pa-dtl-unit-date]) as varchar) + CAST(datepart(dd,[pa-dtl-unit-date]) as varchar) + CAST(datepart(yy,[pa-dtl-unit-date]) as varchar)

  FROM [ECHOLOADERDBP.UHMC.SBUH.STONYBROOK.EDU].[Echo_Archive].dbo.[DetailInformation]

  WHERE [pa-dtl-svc-cd-woscd] IN ('80003', '80004', '80012', '80013', '80017', '80018', '80020', '80022', '80024', '80028', '80031', '80046', '80047', '80050', '80057', '80060', '80063', '80067', '80068', '80070', 
  '80072', '80077', '80078', '80092', '80096', '80099', '80107', '80112', '80120', '80140', '81003', '81005', '82001', '82002', '82003', '82006', '82007', '82008', '82009', '82010', '82011', '82012', '82013',
  '82014', '82015', '82016', '82017', '82018', '82019', '82020', '82021', '82022', '82023', '82024', '82025', '82026', '82027', '82028', '82029', '82030', '82031', '82032', '82033', '82333', '83001', '83002', '83003',
  '83004', '83005', '85000', '85002', '85003', '85005', '86000', '86001', '86002', '86003', '86004', '86005', '86006', '86007', '86008', '86009', '86010', '86011', '86012', '86013')

  GROUP BY 
 CAST([pa-pt-no-woscd] as varchar) + cast([pa-pt-no-scd-1] as varchar) + CAST(datepart(mm,[pa-dtl-unit-date]) as varchar) + CAST(datepart(dd,[pa-dtl-unit-date]) as varchar) + CAST(datepart(yy,[pa-dtl-unit-date]) as varchar)



  )
  )



  SELECT * FROM #CH_3




----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------




-- -- SELECT *  FROM #CH_1
-- /*Create Count of 2ndry Insurances Table*/
--IF OBJECT_ID('tempdb.dbo.#Secondary_Encounter_Count','U') IS NOT NULL
--DROP TABLE #Secondary_Encounter_Count;
--GO



--  SELECT [Ins2_Cd],
--  COUNT([pt_no]) as 'Billable_Secondary_Encounters'

-- -- INTO dbo.[#Secondary_Encounter_Count]

--  FROM [SMS].dbo.[Pt_Accounting_Reporting_ALT]
--  WHERE ([Ins2_Cd] is not null
--  AND [first_ins_Bl_date] BETWEEN '2019-01-01 00:00:00.000' AND '2019-10-31 23:59:59.000'
--  AND [Tot_Chgs] > '0')

--  GROUP BY [Ins2_Cd]



 /*Create Count of 2ndry Insurances Table*/
IF OBJECT_ID('[SMS].dbo.[Cash_History_Secondary]','U') IS NOT NULL
DROP TABLE [SMS].dbo.[Cash_History_Secondary];
GO



 SELECT a.[Ins2_Cd],
 ROUND((SUM([Days_To_Secondary_Payment]) / COUNT(a.[PT_No])),0) as 'Avg_Days_To_Secondary_Pymt' 


 INTO [SMS].dbo.[Cash_History_Secondary]

 FROM [SMS].dbo.[Pt_Accounting_Reporting_ALT] a --left outer join [#Secondary_Encounter_Count] b
 --ON a.[Ins2_Cd]=b.[Ins2_Cd]


 WHERE ([first_ins_Bl_date] BETWEEN '2019-01-01 00:00:00.000' AND '2019-10-31 23:59:59.000'
  AND [Tot_Chgs] > '0'
  AND a.[Ins2_Cd] is not null
  AND [pyr2_pay_amt] IS NOT NULL
  AND [pyr1_pay_Amt] IS NOT NULL)

GROUP BY a.[Ins2_Cd]--, [Billable_Secondary_Encounters]

  -----------------------------------------------------------------------------------------------------------------------------------------------------------------------


/*Create Cash History Table*/
IF OBJECT_ID('[SMS].dbo.[Cash_History]','U') IS NOT NULL
DROP TABLE [SMS].dbo.[Cash_History];
GO






  SELECT [Ins1_Cd],
  b.[Ins Desc],
  [Acct_Type],
  SUM([Count]) as 'Billable_Encounters',
  SUM([Days_To_First_Paid]) as 'Days_Wait',
  ROUND((SUM([Days_To_First_Paid]) / SUM([Count])),0) as 'Avg_Days_To_1st_Paid',
  SUM([Tot_Chgs]) as 'Total_Charges',
  (SUM([Tot_Pay_Amt]) * -1) as 'Total_Pymts',
  (SUM([PT_Pay_Amt]) * -1) as 'Tot_Pt_Pymts',
  (SUM([Tot_Pay_Amt]) *-1) / SUM([Tot_Chgs]) as 'Percent_Paid'

  INTO [SMS].dbo.[Cash_History]

  FROM   #CH_1 a left outer join [Swarm].dbo.[InsCode] b
  ON a.[Ins1_Cd]=b.[Ins Code]




  GROUP BY [Ins1_Cd], [Ins Desc],[Acct_Type]

 ORDER BY [Ins1_Cd]


 --SELECT *  

 --FROM [#Secondary_Encounter_Count]


 --SELECT *

 --FROM [#Secondary_Pymts]