/****** Script for SelectTopNRows command from SSMS  ******/
IF OBJECT_ID('tempdb.dbo.#1','U') IS NOT NULL
DROP TABLE tempdb.dbo.#1;
GO

SELECT count(pt_no) as 'encounter total'
,SUM([balance]) as 'balance sum'
,[FILE]
      ,[Acct_Type]
	  into #1
      
  FROM [SMS].[dbo].[Pt_Accounting_Reporting_ALT]

GROUP BY [FILE]
    ,[Acct_Type]

	select * from #1

	IF OBJECT_ID('tempdb.dbo.#2','U') IS NOT NULL
DROP TABLE tempdb.dbo.#1;
GO