/****** Script for SelectTopNRows command from SSMS  ******/
SELECT SUM([balance])
,[FILE_TYPE]
      ,[ptacct_type]
      
  FROM [SMS].[dbo].[Encounters_For_Reporting]

  GROUP BY [FILE_TYPE]
      ,[ptacct_type]

