/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [PA-REGION-CD]
      ,[PA-HOSP-CD]
      ,[PA-PT-NO-WOSCD]
      ,[PA-ACCT-TYPE]
      ,[PA-ACCT-SUB-TYPE]
      ,[PA-CONT-IND]
      ,[PA-REC-TP-IND]
      ,[PA-REC-CREATE-DATE]
      ,[PA-CTL-PAA-PREV-ACCT-TYPE]
      ,[PA-CTL-PAA-KEY-UNIT-STS]
      ,[PA-CTL-PAA-XFER-DATE]
      ,[PA-COMPONENT-ID]
      ,[PA-USER-CREATE-DATE]
      ,[PA-USER-SMS-DEF]
      ,[PA-USER-TEXT]
      ,[PA-USER-INS-CO-CD]
      ,[PA-USER-INS-PLAN-NO]
      ,[PA-USER-DATE-2]
      ,[PA-USER-DATA-TYPE-CD]
      ,[PA-USER-SVC-CD-SCD]
      ,[PA-USER-SVC-CD-WOSCD]
      ,[PA-USER-UNIT-HOSP-SVC]
      ,[PA-USER-UNIT-VST-IND]
      ,[PA-USER-NDC-SEQ-NO]
      ,[PA-PT-NO-SCD-1]
      ,[PA-USER-NDC-CMPNT]
      ,[PA-USER-DATE-OVRD-IND]
  FROM [Echo_Active].[dbo].[UserDefined]

  WHERE [pa-pt-no-woscd] IN ('1010009303','1010791624','1011693057','1011047810','1010849193','1011566742','1011806116','1010481823','1011789362','1010341471','1010466360')
  AND [pa-component-id] = '2C49VC24'