/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [PA-REGION-CD]
      ,[PA-HOSP-CD]
      ,a.[PA-PT-NO-WOSCD]
	     ,[PA-PT-NO-SCD-1]
      ,a.[PA-ACCT-TYPE]
      ,[PA-ACCT-SUB-TYPE]
      ,[PA-CONT-IND]
      ,[PA-REC-TP-IND]
      ,[PA-REC-CREATE-DATE]
      ,a.[PA-CTL-PAA-PREV-ACCT-TYPE]
      ,a.[PA-CTL-PAA-KEY-UNIT-STS]
      ,a.[PA-CTL-PAA-XFER-DATE]
      ,[PA-INS-CO-CD]
      ,[PA-INS-PLAN-NO]
      ,[PA-INS-SEG-IND]
      ,[PA-INS-PRTY]
      ,[PA-INS-POL-NO]
      ,[PA-INS-GRP-NO]
      ,[PA-INS-COV-CD]
      ,[PA-INS-COV-DAYS]
      ,[PA-INS-POL-LIMIT]
      ,[PA-INS-DED]
      ,[PA-INS-SEMI-ROOM-RATE]
      ,[PA-INS-PVT-ROOM-RATE]
      ,[PA-INS-BLOOD-DED]
      ,[PA-INS-EFF-START-DATE]
      ,[PA-INS-EFF-STOP-DATE]
      ,[PA-INS-USER-MAILED-DATE]
      ,[PA-INS-NOA-DATE]
      ,[PA-INS-ROE-DATE]
      ,[PA-INS-TRACKING-DISP-CD]
      ,[PA-INS-DTL-BL-IND]
      ,[PA-INS-NOA-IND]
      ,[PA-INS-ROE-IND]
      ,[PA-INS-REQUERY-IND]
      ,[PA-INS-SEC-PLAN-STS]
      ,[PA-INS-STS-CD]
      ,[PA-INS-SUBSCR-INS-GROUP-NAME]
      ,[PA-INS-SUBSCR-INS-GROUP-ID]
      ,[PA-INS-SUBSCR-PAYOR-ID]
      ,[PA-INS-SUBSCR-PAYOR-SUB-ID]
      ,[PA-INS-SUBSCR-ELIG-SOURCE]
      ,[PA-INS-SUBSCR-VFYNG-INDV-INITS]
      ,[PA-INS-TREAT-AUTHZ-NO]
      ,[PA-BAL-INS-PROR-CHG-AMT]
      ,[PA-BAL-INS-PROR-NET-AMT]
      ,[PA-BAL-INS-PAY-AMT]
      ,[PA-BAL-INS-ADJ-AMT]
      ,[PA-BFW-INS-CHG-AMT]
      ,[PA-BFW-INS-PAY-AMT]
      ,[PA-BFW-INS-ADJ-AMT]
      ,[PA-LAST-INS-BL-DATE]
      ,[PA-LAST-INS-PAY-DATE]
   
  FROM [Echo_Active].[dbo].[InsuranceInformation] a left outer join [Echo_Active].[dbo].[PA_Patients] b
  ON a.[PA-PT-NO-WOSCD]=b.[PA-PT-NO-WOSCD] 
  where [PA-LAST-INS-BL-DATE] is not null
  and [PA-INS-CO-CD] = 'U'