SELECT CHARGES.[REPORTING-GROUP],
	ICR.[ICR],
	ICR.[R&B_Classification_for_2016_DSH],
	SUM(CHARGES.[TOT-CHG-QTY]) AS [TOT-CHG-QTY],
	SUM([TOT-CHARGES]) AS [TOT-CHARGES]
FROM [dbo].[2017_ICR_Rollup_with_Room_and_Board_Classifications_for_DSH] AS ICR
LEFT OUTER JOIN [dbo].[2017_GL_Key_Table] AS GL ON LTRIM(RTRIM(ICR.Cost_Center_wExtra_Zeros)) = LTRIM(RTRIM(GL.CrAcctUnit))
INNER JOIN [DBO].[2016_DSH_Charges] AS CHARGES ON GL.GLKey = CHARGES.[PA-DTL-GL-NO]
WHERE GL.GLKey IS NOT NULL
	AND ICR.[R&B_Classification_for_2016_DSH] <> '0'
	AND CHARGES.[REPORTING-GROUP] <> 'UN-GROUPED'
	--AND CHARGES.[PT-NO] = '10070038020'
	AND CHARGES.[PA-DTL-TYPE-IND] = '7'
GROUP BY CHARGES.[REPORTING-GROUP],
	ICR.[ICR],
	ICR.[R&B_Classification_for_2016_DSH]
ORDER BY CHARGES.[REPORTING-GROUP],
	ICR.[ICR];
