/****** Script for SelectTopNRows command from SSMS  ******/
SELECT distinct
		cast([PA-PT-NO-WOSCD] as varchar) + cast ([PA-PT-NO-SCD-1] as varchar) as 'Pt_No'
      ,[PA-SMART-DATE]
      ,[PA-SMART-COMMENT]
	  --,[pa-smart-svc-cd-woscd]
	  ,substring([PA-SMART-COMMENT],1,4) as 'Activity Code'
	  ,substring([PA-SMART-COMMENT],6,6) as 'User ID'
      
  FROM [Echo_Active].[dbo].[AccountComments]
  where ([pa-smart-comment] like 'MRRU%' or [PA-SMART-COMMENT] like 'MRRC%' or [PA-SMART-COMMENT] like 'MRRS%' or [PA-SMART-COMMENT] like 'MRRI%')
  and ([PA-SMART-DATE]>='2021-01-01' and [PA-SMART-DATE] <='2021-02-28')

  order by 2